@font-face {
  font-family: 'Franklin Gothic';
  src: url('../fonts/franklin-gothic-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
  background-color: #141b23;
  color: #ffffff;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 60%;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(100% - 40px, 890px);
  margin-inline: auto;
}

.header {
  padding-top: 62px;
  margin-bottom: 64px;
}

.navbar {
  color: #b1bbcbde;
  text-shadow: 0px 0px 4px #000000a6;
  font-size: 15px;

  display: flex;
  gap: 15px;
}

.navbar__item {
  /* margin-right: 15px; */
}

.article {
  max-width: 475px;
  margin-left: 41px;
  margin-bottom: 197px;
}

.article__title {
  font-size: 25px;
  text-shadow: 0 0px 4px #000000a6;
  font-weight: normal;
}

.article__content {
  font-size: 13px;
}

.footer {
  color: #ffffff45;
  text-shadow: 0 0px 4px #000000a6;
  font-size: 12px;
}
