* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Franklin Gothic";
  src: url("../fonts/FranklinGothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #141b23;
  font-family: "Franklin Gothic", Arial, sans-serif;
  background-image: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
.container {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
}
.navbar {
  margin-top: 63px;
}
.navbar-link {
  font-size: 17px;
  color: #b1bbcbde;
  text-shadow: 0px 0px 4px #000000a6;
  margin-right: 20px;
}
.active {
}
.main {
}
.content {
  margin-top: 67px;
  color: #ffffff;
  max-width: 475px;
  margin-left: 42px;
}
.content-title {
  font-size: 25px;
  margin-bottom: 0;
}
.content-description {
  font-size: 13px;
  text-align: left;
  text-shadow: 0px 0px 4px #000000a6;
}
.content-description p:first-of-type {
  margin-top: 0;
}
.footer {
  margin-top: 190px;
}
.copy {
  font-size: 12px;
  color: #ffffff45;
  text-shadow: 0px 0px 4px #000000a6;
}
