* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Franklin Gothic";
  src: url("../fonts/franklin-gothic-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #141b23;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  background-image: url(../img/bitmap.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.65));
}

/* typography */
a {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 940px;
}

/* header */
.navbar {
  opacity: 0.87;
  margin-top: 63px;
  margin-bottom: 77px;
  font-size: 15px;
  line-height: 20px;
}

.navbar-item {
  color: #b1bbcb;
  margin-right: 20px;
}

/* main */
.content {
  margin-left: 45px;
  max-width: 474px;
  color: #ffffff;
}

.content-title {
  font-size: 25px;
  line-height: 30px;
}

.content-descripttion {
  font-size: 13px;
  line-height: 16px;
}

/* footer */
.footer {
  margin-top: 190px;
}

.copy {
  opacity: 0.27;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
